<header class="all_header navbar-fixed-top">
  <!-- Top Header_Area -->
  <section class="top_header_area top_header">
      <div class="container">
         <div class="right_top_header">
              <ul class="nav navbar-nav top_nav">
                  <li><a href="#"><i class="fa fa-phone"></i>+1 (168) 314 5016</a></li>
                  <li><a href="#"><i class="fa fa-envelope-o"></i>info@thethemspro.com</a></li>
                  <li><a href="#"><i class="fa fa-clock-o"></i>Mon - Sat 12:00 - 20:00</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right social_nav">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
         </div>
      </div>
  </section>
  <!-- End Top Header_Area -->

  <!-- Header_Area -->
  <nav class="navbar navbar-default header_aera header_aera_tow" id="main_navbar">
      <div class="container">
          <!-- searchForm -->
          <div class="searchForm">
              <form action="#" class="row m0">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-search"></i></span>
                      <input type="search" name="search" class="form-control" placeholder="Type & Hit Enter">
                      <span class="input-group-addon form_hide"><i class="fa fa-times"></i></span>
                  </div>
              </form>
          </div><!-- End searchForm -->
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar_right_fulid">
              <div class="col-md-2 p0">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="index.html"><img src="./assets/images/logo.png" alt=""></a>
                  </div>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="col-md-10 p0">
                  <div class="collapse navbar-collapse" id="min_navbar">
                      <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown submenu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                              <ul class="dropdown-menu">
                                  <li><a href="index.html">Home</a></li>
                                  <li><a href="index-2.html">Home 2</a></li>
                              </ul>
                          </li>
                          <li class="dropdown submenu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                              <ul class="dropdown-menu other_dropdwn">
                                  <li><a href="about.html">About Us</a></li>
                                  <li><a href="about-2.html">About Us-2</a></li>
                              </ul>
                          </li>
                          <li class="dropdown submenu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                              <ul class="dropdown-menu other_dropdwn">
                                  <li><a href="services.html">Services</a></li>
                                  <li><a href="services-2.html">Services-2</a></li>
                              </ul>
                          </li>
                          <li><a href="#">Gallery</a></li>
                          <li class="dropdown submenu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                              <ul class="dropdown-menu">
                                  <li><a href="blog.html">Blog</a></li>
                                  <li><a href="blog-2.html">Blog-2</a></li>
                              </ul>
                          </li>
                          <li><a href="contact.html">Contact</a></li>
                          <li><a href="#" class="nav_searchFrom"><i class="fa fa-search"></i></a></li>
                      </ul>
                  </div><!-- /.navbar-collapse -->
              </div>
          </div>
      </div><!-- /.container -->
  </nav>
  <!-- End Header_Area -->
</header>
